mixin article(post, shouldShowFull)
    - var postUrl = utils.path(rootPath, post.path)
    - var createdAt = post.getMetaTag('created_at')

    ul.post__meta
        li.post__info
            time(datetime=createdAt.toISOString()) !{utils.date(createdAt)}
        li.post__info !{post.getMetaTag('category')}

    h2.post__title
        a.post__title-link(href=postUrl) !{post.getMetaTag('title')}

    if false === shouldShowFull
        p.post__excerpt !{post.getMetaTag('excerpt')}
        p.post__read-more
            a.post__read-more-link(href=postUrl) Czytaj więcej
    else
        div.post__content !{ post.contents }
