extends ./layout/base

block variables
    - var bodyClass = 'page--index'

    if currentPage == 1
        - var pageTitle = 'blog.pomek.pl'
    else
        - var pageTitle = 'Strona ' + currentPage.toString() + ' - blog.pomek.pl'

block scripts
    script(src=utils.path(rootPath, config.ASSETS.SCRIPTS, 'index.js'))

block body
    for post in posts
        - var imageUrl = post.getMetaTag('image')

        article.post(class=(!!imageUrl ? 'post--has-image' : ''))
            if imageUrl
                div.post__image(style='background-image:url("' + post.getMetaTag('image') + '")', aria-hidden='true')

            div.post__demo
                +article(post, false)

    if allPages > 1
        - var page = 1

        ul.pagination
            if currentPage !== 1
                li.pagination__item
                    if (currentPage - 1) === 1
                        - var previousUrl = utils.path(rootPath, 'index.html')
                    else
                        - var previousUrl = utils.path(rootPath, (page - 1).toString(), 'index.html')
                    a.pagination__link(href=previousUrl) Poprzednia

            while page <= allPages
                if page === 1
                    - var pageUrl = utils.path(rootPath, 'index.html')
                else
                    - var pageUrl = utils.path(rootPath, page.toString(), 'index.html')

                li.pagination__item(class=(currentPage === page) ? 'pagionation__item--active' : '')
                    a.pagination__link(href=pageUrl) #{page.toString()}
                - ++page

            if currentPage !== allPages
                li.pagination__item
                    a.pagination__link(href=utils.path(rootPath, (currentPage + 1).toString(), 'index.html')) Następna
